*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
body{
    background-color: rgb(58, 63, 80);
}
.container{
    font-family: 'Ubuntu', sans-serif;
}
.fr{
    float: right;
}
.fl{
    float: left;
}
/*----------- section head ------------ */
.button-h{
    position: absolute;
    right: 1px;
    z-index: 11;
    padding: 10px 35px;
    margin: 25px;
    background-color: rgba(41, 41, 41, 0);
    border: none;
    border: 1px solid white;
    border-radius: 25px;
    color: white;
    font-weight: 600;
}
.main-h{
    width: 100%;
    height: 90px;
    background-color: rgb(23, 22, 29);
}
/*----------------- Nav ---------------- */
.logo-n img{
    width: 100%;
}
.logo-n{
    width: 160px;
}
.nav-m-n{
    padding-top: 15px;
}
.nav-m-n li{
    list-style-type: none;
    padding: 5px 0;
}
.nav-m-n li a{
    text-decoration: none;
    color: gray;
}
.nav-m-n li:nth-of-type(1) a{
    color: white;
}
.nav-m-n li a img {
    width: 20px;
    vertical-align: middle;
}
.fas{
    margin-right: 5px;
}
.main-n{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 0;
    z-index: 3;
    padding: 20px;
    width: 288px;
    height: 90vh;
    background-color: black;
}
/*--------------- contenuto principale ------------- */

.main-cont{
    margin-left: 288px;
    padding: 12px;
}
.recently-played{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.box-song{
    max-width: 200px;
    height: 200px;
    margin: 5px;
    flex: 1 1 100px;
    background-color: lightblue;
}
/*---------------- footer ------------------ */
.main-f{
    position: absolute;
    bottom: 0;
    height: 90px;
    width: 100%;
    background-color: rgb(59, 59, 59);
    z-index: 10;
}