*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
body{
    background-color: rgb(58, 63, 80);
}
.container{
    font-family: 'Ubuntu', sans-serif;
    height: calc(100vh - 90px);
}
.fr{
    float: right;
}
.fl{
    float: left;
}
/*----------- section head ------------ */
.button-h{
    position: absolute;
    right: 1px;
    z-index: 11;
    padding: 10px 35px;
    margin: 25px;
    background-color: rgba(41, 41, 41, 0);
    border: none;
    border: 1px solid white;
    border-radius: 25px;
    color: white;
    font-weight: 600;
}
.main-h{
    width: 100%;
    height: 90px;
    background-color: rgb(23, 22, 29);
}
/*----------------- Nav ---------------- */

.fa-plus-square{
    font-size: 40px;
    vertical-align: middle;
}
.p-list-n{
    overflow: auto;
}

.p-list-n h2{
    color: white;
    padding-top: 15px;
}
.p-list-n li{
    color: rgb(155, 155, 155);
    list-style-type: none;
    padding: 10px 0;
    font-size: 14px;
}
.p-list-n a{
    text-decoration: none;
    color: rgb(155, 155, 155);
}
.logo-n img{
    width: 100%;
}
.logo-n{
    width: 160px;
}
.nav-m-n{
    padding-top: 15px;
}
.nav-m-n li{
    list-style-type: none;
    padding: 5px 0;
}
.nav-m-n li a{
    text-decoration: none;
    color: rgb(155, 155, 155);
}
.nav-m-n li:nth-of-type(1) a{
    color: white;
}
.nav-m-n li a img {
    width: 20px;
    vertical-align: middle;
}
.fas{
    margin-right: 5px;
}
.big-left{
    height: 100%;
    background-color: black;
}
.main-n{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 20px 0;
    width: 288px;
    height: calc(100% - 100px);
}
.main-acc-n{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100px;
    padding: 0 20px;
}
.dow-n{
    margin: 10px 0;
}
.dow-n>a{
    text-decoration: none;
    color: rgb(155, 155, 155);
}
.acc-n{
    margin: 10px 0;
}
.acc-n>a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 600;
}
.profile{
    background-color: gray;
    border-radius: 50%;
    margin-right: 5px;
    height: 22px;
    width: 22px;
    vertical-align: middle;
}
.download{
    width: 20px;
    vertical-align: middle;
}
.dow-n>a>.download{
    margin-right: 5px;
}
/*--------------- contenuto principale ------------- */

.big-right{
    height: 100%;
    width: calc(100% - 288px);
}
.main-cont{
    padding: 12px;
}
.recently-played{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.box-song{
    max-width: 180px;
    height: 180px;
    margin: 5px;
    flex: 1 1 100px;
    background-color: lightblue;
}
.mini-nav{
    width: 100%;
    text-align: center;
}
.mini-nav li{
    list-style-type: none;
    display: inline-block;
    padding: 10px;
}
.mini-nav li a{
    text-decoration: none;
    color: rgb(155, 155, 155);
    font-size: 13px;

}
.main-cont h1{
    color: white;
    padding: 20px 0;
}
/*---------------- footer ------------------ */

/* parte sinistra della toolbar dove fa vedere la cover con nome brano */

.main-f{
    display: flex;
    justify-content: flex-start;
    min-height: 90px;
    height: 90px;
    width: 100%;
    background-color: rgb(59, 59, 59);
}
.song-cover{
    width: 40px;
    display: inline-block;
    margin:20px 10px;
    vertical-align: middle;
}
.song-cover img{
    width: 100%;
}
.song-name{
    width: 70px;
    display: inline-block;
    margin: 20px 5px;
    overflow: hidden;
    vertical-align: middle;
}
.song-name>h5{
    color: white;
    font-size: 13px;
}
.song-name>p{
    color: rgb(155, 155, 155);
    font-size: 10px;
}
.footer-l .far{
    color: rgb(155, 155, 155);
}
.footer-l{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 3.5%;
}
.view-song{
    text-align: left;
    width: 150px;
    height: 100%;
    vertical-align: middle;
}
.footer-toolbar{
    display:flex;
    width: calc(100% - 160px);
    height: 100%;
}
